
div.pad,div.player{
    position: relative;
    height:100%;
    display: flex;
    flex-direction: column;
    padding:10px;
    justify-content: space-evenly;
}

div.output{
    position: relative;
    min-height: 20%;
    padding:10px;
}
div.output_text{
    padding:10px;
    height:150px;
    overflow-y:scroll;
}

div.output_text p{
    font-size: 0.9em;
    padding:10px 5px;
}
div.output_text small{
    margin-right:10px;
}

div.video_player{
    position: relative;
    width:100%;
    display: flex;
    flex-direction: column;
    overflow-y:hidden;
}
video#video{
    position: relative;
    width:100%;
    //correct this to height:auto;
    height:auto;
}
div.controls{
    padding:5px;
    //background:darken(greenyellow,45%);
    display: flex;
    justify-content: space-between;
    opacity: 0;
    transition:opacity 0.7s;
}
div.video_player:hover div.controls{
    opacity: 1;
}
button.control{
    //background:rgba(10,10,10,0.3);
    background: none;
    height:30px;
    width:30px;
    font-size: 15px;
    border-radius: 50%;
    //color:white;
    text-align: center;
    padding:5px;
    outline:none;
}
small.timer{
    color:white;
    padding:10px;
    font-weight: bolder;
}
div.progress{
    background:darken(whitesmoke,10%);
    height:4px;
}
div.progress_inner{
    position: relative;
    //background:greenyellow;
    height:4px;
    width:30%;
    border-radius: 5px;
}
span.knob{
    position: absolute;
    right:0px;
    height:7px;
    width:7px;
    //background:lighten(greenyellow,10%);
    border-radius: 50%;
    margin-top:-2px;
}

div.settings{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}
button.call_to_action{
    overflow: hidden;
    transition:0.7s;
    div.tooltip{
        position: absolute;
        margin-left:35px;
        opacity:0;
        overflow-x: hidden;
        font-size: 0.7em;
        text-align: center;
        transition:1s;
        width:0px;
    }
}
button.call_to_action:hover{
    box-shadow: 1px 1px 10px 10px rgba(10,10,10,0.1);
    div.tooltip{
        width:auto;
        opacity: 1;
        font-size: 0.7em;
    }
}
