section.tab {
  position: fixed;
  z-index: 11;
  top: 0px;
  height: 100vh;
  text-align: center;
  width: 50%;
}

div.appbar {
  padding: 10px;
}

div.tab_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 80%;
  text-align: center;
}

div.close {
  color: crimson;
  font-size: 30px;
}

div#transcriptions_preview {
  height: 90vh;
  overflow-y: scroll;
}

div.transcriptions {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 90%;
  overflow-y: scroll;
  overflow-x: hidden;
  text-align: left;
}

div.transcriptions small {
  margin: 0px 10px;
}

div.transcriptions p {
  padding: 10px;
  margin: 5px 0px;
}

div.transcription {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}

div.transcription input {
  padding: 10px;
  border: 1px solid transparent;
  outline: none;
}

div.transcription button {
  background: none;
  color: crimson;
  font-size: 25px;
}

div.transcription small {
  position: relative;
  margin-top: 10px;
}

div.fast_actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  padding: 10px;
}

div.block_field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

div.time_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

div.add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

div.add button {
  margin: 10px;
}

div.add_transcription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
  display: none;
}

div.add_transcription input {
  position: relative;
  width: 70%;
}

div.add_transcription span {
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
/*# sourceMappingURL=preview.css.map */